@media only screen and (max-width: 1024px) {
    
    .author, .description {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .editorial, .year {
        display: none;
    }
}

@media only screen and (max-width: 575px) {

    .pages {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    .isbn,.edition {
        display: none;
    }
}