#chart_wrap {
    position: relative;
    padding-bottom: 20%;
    height: auto;
    overflow:hidden;
}

#piechart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: auto;
}